
#dice-parent {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 998;
  pointer-events: none;
}
#dicediv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 auto;
  pointer-events: none;
}
.diecont{
	align-items: center;
  text-align:center;
  pointer-events: auto;
}
.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  list-style-type: none;
  transform-style: preserve-3d;
}
.even-roll {
  transition: transform 1.5s ease-out;
  -webkit-transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
  -webkit-transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #000000;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(255, 255, 255, 0.9),
    inset 0.5rem -0.25rem 0.5rem rgba(255, 255, 255, 0.7);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
}
.die-reroll-img {
  visibility: visible;
  padding-top: 15px;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}


@media (min-width: 1126px) {
  .dice {
    perspective: 1300px;
  }
  #dice-parent {
    justify-content: center;
  }
  .dice {
    width: 800px;
  }
  .die-face-img{
    width: 100px;
    height: 100px;
  }
  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(50px);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(50px);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(50px);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(50px);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(50px);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(50px);
  }
}

@media (max-width: 1125px) {
  .dice {
    perspective: 800px;
  }
  #dice-parent {
    padding-top: 20px;
  }
  .diecont{
    padding-left: 10px;
    padding-right: 10px;
  }
  .die-face-img{
    width: 80px;
    height: 80px;
  }
  [data-side="1"] {
    transform: rotate3d(0, 0, 0, 90deg) translateZ(40px);
  }
  [data-side="2"] {
    transform: rotate3d(-1, 0, 0, 90deg) translateZ(40px);
  }
  [data-side="3"] {
    transform: rotate3d(0, 1, 0, 90deg) translateZ(40px);
  }
  [data-side="4"] {
    transform: rotate3d(0, -1, 0, 90deg) translateZ(40px);
  }
  [data-side="5"] {
    transform: rotate3d(1, 0, 0, 90deg) translateZ(40px);
  }
  [data-side="6"] {
    transform: rotate3d(1, 0, 0, 180deg) translateZ(40px);
  }
}

